제목 : <%=data[0].title%> <br>
작성자: <%=data[0].nickname%> <br>
내용 : <%=data[0].content%> <br>
기업명 : <%=data[0].companyname%> <br>
업종 : <%=data[0].sector%> <br>
사업내용 : <%=data[0].businessinfo%> <br>
설립일 : <%=data[0].startdate%> <br>
사원수 : <%=data[0].employeenum%> <br>
대표자명 : <%=data[0].ceoname%> <br>
<a href="/job/edit/<%=data[0].BOARD_NO%>">수정</a>
<a href="/job/delete/<%=data[0].BOARD_NO%>">삭제</a>
