<table>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
        <th>기업명</th>
        <th>작성일</th>
    </tr>
    <% for (let i=0; i<num; i++) { %>
        <tr>
            <td><a href="job/<%=data[i].BOARD_NO%>"><%=data[i].title%></a></td>
            <td><%=data[i].content%></td>
            <td><%=data[i].nickname%></td>
            <td><%=data[i].companyname%></td>
            <td><%=data[i].POST_DATE%></td>
        </tr>
    <% } %>
    <a href="/job/write">글쓰기</a>
</table>