<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>교육기간</th>
            <th>접수기간</th>
            <th>작성일</th>
            <th>상태</th>
        </tr>
        <% for (let i=(page*page_num) - page_num; i<(page*page_num); i++) { %>
            <% if (i > length) { %>
                <% i++; %>
            <% } else { %>
            <tr>
                <td><a href="/arte/list/<%=page%>/<%=data[i].BOARD_NO%>"><%=data[i].title%></a></td>
                <td><%=data[i].content%></td>
                <td><%=data[i].nickname%></td>
                <td><%=data[i].edu_period%></td>
                <td><%=data[i].receipt_period%></td>
                <td><%=data[i].POST_DATE%></td>
                <td><% if (data[i].status == 'ing') { %> 접수중 <% } else if (data[i].status == 'end') { %> 접수마감 <% } %></td>
            </tr>
            <% } %>
        <% } %>
        <tr>
            <td colspan="7">
                <% for(let j=0; j<(length/page_num); j++) { %>
                [<a href="/arte/<%=category%>/<%=j+1%>"><%=j+1%></a>]
                <% } %>
            </td>
        </tr>
    </table>
    <a href="/arte/write">글쓰기</a>
</body>
</html>