<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>제목</th>
            <th>카테고리</th>
            <th>신청자명</th>
            <th>신청자주소</th>
            <th>신청자 전화번호</th>
            <th>접수상태</th>
        </tr>
        <% for (let i=0; i<length; i++) { %>
            <tr>
                <td><a href="/edu/<%=data[i].BOARD_NO%>"><%=data[i].title%></a></td>
                <td><%=data[i].category%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].address%></td>
                <td><%=data[i].mphone%></td>
                <td><%=data[i].status%></td>
            </tr>
        <% } %>
    </table>
</body>
</html>