<div class="container">
    <h1 class="centered">문화예술교육 신청 현황</h1>
    <div class="search-container">
        <select id="searchField">
            <option value="0">제목</option>
            <option value="2">신청자 아이디</option>
            <option value="3">신청자 이름</option>
            <option value="4">신청자 전화번호</option>
        </select>
        <input type="text" id="searchInput" placeholder="검색어를 입력해주세요.">
        <button id="search">검색</button>
    </div>
    <table id="artapply">
        <tr>
            <th>제목</th>
            <th>카테고리</th>
            <th>신청자 아이디</th>
            <th>신청자 이름</th>
            <th>신청자 전화번호</th>
            <th>신청일</th>
            <th>모집상태</th>
            <th>신청상태</th>
            <th>상태변경</th>
            <th>신청삭제</th>
        </tr>
        <% for (let i = 0; i < length; i++) { %>
        <tr>
            <td class="title"><%= data[i].title %></td>
            <td><%= data[i].category %></td>
            <td class="id"><%= data[i].id %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].mphone %></td>
            <td class="applydate"><%= data[i].applydate %></td>
            <td>
                <% if (data[i].recruitStatus == 'ing') { %>
                접수중
                <% } else if (data[i].recruitStatus == 'end') { %>
                입금대기
                <% } %>
            </td>
            <td>
                <% if (data[i].applyStatus == 'wait') { %>
                입금대기
                <% } else if (data[i].applyStatus == 'confirm') { %>
                입금확인
                <% } else if (data[i].applyStatus == 'complete') { %>
                신청완료
                <% } %>
                
            </td>
            <td><button id="change">변경</button></td>
            <td><button id="delete">삭제</button></td>
        </tr>
        <% } %>
    </table>
</div>
<script src="/js/admin/adminartlist.js"></script>
