<div class="container" data-current-page="<%= currentPage %>" data-total-pages="<%= totalPages %>">
    <h2 id="users-container">강사 정보</h2>
        <div class="search-container">
            <select id="searchField">
                <option value="0">아이디</option>
                <option value="1">이름</option>
                <option value="2">전화번호</option>
                <option value="4">닉네임</option>
            </select>
            <input type="text" id="searchInput" placeholder="검색어를 입력해주세요.">
            <button id="search">검색</button>
        </div>
        <table id="users">
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>가입일</th>
                <th>닉네임</th>
                <th>비밀번호 초기화</th>
            </tr>
            <% for (let i = 0; i < length; i++) { %>
            <tr>
                <td class="id"><%= data[i].id %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].mphone %></td>
                <td><%= data[i].joinDate %></td>
                <td><%= data[i].nickname %></td>
                <td><button id="reset">초기화</button></td>
            </tr>
            <% } %>
        </table>
        <ul id="page" class="page"></ul>
    </div>
    <script src="/js/admin/admininstructors.js"></script>