<div class="container" data-current-page="<%= currentPage %>" data-total-pages="<%= totalPages %>">
    <h1 class="centered">전문교육 게시글 목록</h1>
    <div class="search-container with-write-button">
        <div class="search-elements">
            <select id="searchField">
                <option value="0">제목</option>
                <option value="1">강사명</option>
                <option value="2">카테고리</option>
            </select>
            <input type="text" id="searchInput" placeholder="검색어를 입력해주세요.">
            <button id="search">검색</button>
        </div>
        <button id="write" class="write-button">글쓰기</button>
    </div>
    <table id="prolist">
        <tr>
            <th>제목</th>
            <th>강사명</th>
            <th>카테고리</th>
            <th>모집상태</th>
            <th>작성일</th>
            <th>가격</th>
        </tr>
        <% for (let i = 0; i < length; i++) { %>
        <tr>
            <td><a href="/admin/proview/<%= data[i].postID %>"><%= data[i].title %></a></td>
            <td><%= data[i].instructorName %></td>
            <td><%= data[i].category %></td>
            <td>
                <% if (data[i].status == 'ing') { %>
                모집중
                <% } else if (data[i].status == 'end') { %>
                모집마감
                <% } %>
            </td>
            <td><%= data[i].postDate %></td>
            <td><%= data[i].price %></td>
        </tr>
        <% } %>
    </table>
    <ul id="page" class="page"></ul>
</div>
<script src="/js/admin/adminprolist.js"></script>
